<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default: "Random Name Generator" }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2" defer></script>
</head>
<body>
  <header>
    <h1>Welcome to the Random Name Generator!</h1>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>
